<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <style>
        label{margin-left: 20px;}
        #datepicker{width:50px;}
        #datepicker > span:hover{cursor: pointer;}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Books</a>
            </li>
            <li>
                <a class="nav-link" th:href="@{/users}">Users</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<style>
    .search {
            display: flex;
            justify-content: left;
                }
    button{margin-left:5px;}
</style>
<div class ="container">
        <h1> History </h1>
        <div class="search" align="center">
            <input type="text" id="searchText" style="height:30px;width: 300px;" name="searchText" maxlength="10" placeholder="Search by book"/>
            <button type="button" class="btn btn-dark btn-sm mb-3" onclick="createUrl()">Search</button>
        <script type="text/javascript">
            function createUrl(){
            let searchText = document.getElementById("searchText").value;
            window.location =  "/history/search/"+searchText;
            }
        </script>
    </div>
    <table class = "table">
        <thead class="thead-dark">
        <tr>
            <th>Book ID</th>
            <th>Book name</th>
            <th>User ID</th>
            <th>User First Name</th>
            <th>User Last Name</th>
            <th>User Phone</th>
            <th>Date Borrowed</th>
            <th>Date Returned</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "history : ${historyList}">
            <td th:text = "${history.book_id}"></td>
            <td th:text = "${history.book_name}"></td>
            <td th:text = "${history.user_id}"></td>
            <td th:text = "${history.user_fname}"></td>
            <td th:text = "${history.user_lname}"></td>
            <td th:text = "${history.user_phone}"></td>
            <td th:text = "${history.date_borrowed}"></td>
            <td th:text = "${history.date_returned}" >
            </td>
            <td>
                <style>
                    .buttonSubmit{
                    visibility:hidden
                    }
                </style>
                <a class ="btn btn-outline-dark btn-sm" th:href = "@{/history/return/{id}(id=${history.borrowed_history_id})}" >Return</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>