<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Books</a>
            </li>
            <li>
                <a class="nav-link" th:href="@{/history}">History</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class ="container">
    <div class = "row">
        <h1> All Users </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/users/add}" button type="button" class = "btn btn-dark btn-sm mb-3"> Add Users</a>
        </div>
        <input type="text" id="searchText" style="height:30px;width: 300px;" name="searchText" maxlength="10" placeholder="searchText" />
        <button type="button" class = "btn btn-dark btn-sm mb-3" onclick="createUrl()"> Search Users</button>
        <script type="text/javascript">
            function createUrl(){
            let searchText = document.getElementById("searchText").value;
            window.location =  "/users/search/"+searchText;
            }
        </script>

    </div>
    <table class = "table">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "user : ${usersList}">
            <td th:text = "${user.fname}"></td>
            <td th:text = "${user.lname}"></td>
            <td th:text = "${user.phone}"></td>
           <td>
                <a class ="btn btn-outline-dark btn-sm" th:href = "@{/users/edit/{id}(id=${user.user_id})}">Update</a>

                <a class ="btn btn-outline-danger btn-sm" th:href = "@{/users/{id}(id=${user.user_id})}">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>